{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}

    <div class="container">

        <div class="shop-default shop-cards shop-tech">
            {% for produit in produits %}
                <div class="row">
                    <div class="card">
                        <div class="">
                            <div class="card-img-top">
                                <a href="#">
                                    <img src="{{ asset("img/"~produit.img) }}" class="img-center">
                                </a>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">
                                    <a href="#">
                                        {{ produit.nom }}
                                    </a>
                                </h3>
                                <p class="card-text">
                                    {{ produit.description }}
                                </p>
                                <p class="card-text">
                                    {{ produit.prix }} €
                                </p>
                                <div class="btn">
                                    <button type="button" class="btn btn-block btn-primary">
                                        <a href="#">Add to cart
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}
